:root {
//  COLORS
  --black: #000000;
  --white: #ffffff;

  --light-green: #C8FABA;
  --middle-green: #AEE39D;
  --dark-green: #4B9C39;

  --light-blue: #6BD7FF;
  --middle-blue: #4785E3;
  --dark-blue: #2A6DCF;

  --light-purple: #C8BEFF;
  --dark-purple: #B9ABFF;

//  SIZES
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-16: 1rem;

}
